---
import { ArrowButton } from "@components/ArrowButton";
import Layout from "@layouts/Layout.astro";
import { getArtById } from "@lib/server";
console.log("hi");

const { artId } = Astro.props;

if (typeof artId !== "string") {
	return Astro.redirect("/500");
}

const art = await getArtById(artId);
---

<Layout title={`${art.name}`}>
  <div>
    <ArrowButton client:load text="작품 목록 보러가기" href="/" />
  </div>
  {
    art.images &&
      art.images.map((src: string) => (
        <img src={src} class="img drop-shadow-2xl rounded-lg" />
      ))
  }
  <div class="flex flex-col gap-[2px] mx-3 my-5">
    <h1 class="text-2xl font-extrabold">{art.name}</h1>
    <h2 class="text-xl font-bold mb-5">{art.artistName}</h2>
    <slot />
  </div>
  <div class="h-2"></div>
</Layout>
