---
import ArrowButton from "@components/ArrowButton.astro";
import { ArtCreateForm } from "@components/ArtCreateForm";
import Layout from "@layouts/Layout.astro";
import { getAuthDataBySessionId } from "@lib/server";

const { isAuthed, artist } = await getAuthDataBySessionId(
  Astro.cookies.get("session").value
);

if (isAuthed !== true || artist === undefined) {
  return Astro.redirect("/auth");
}
---

<Layout title="새 작품 추가하기">
  <div>
    <ArrowButton
      text="프로필로 돌아가기"
      href={`/art/${artist.artistId}`}
      client:idle
    />
  </div>
  <ArtCreateForm client:load />
</Layout>
