---
import { ArrowButton } from "@components/ArrowButton";
import Layout from "@layouts/Layout.astro";

const message = Astro.url.searchParams.get("message") || "";
---

<Layout title="500 something went wrong!">
  <main>
    <div class="h-10"></div>
    <h1 class="text-2xl font-extrabold">500 something went wrong!</h1>
    <ArrowButton text="홈으로 돌아가기" href="/" client:load />
    <p class="text-sm text-gray-400">{message}</p>
  </main>
</Layout>
