---
import Layout from "../layouts/Layout.astro";

const works = [
  { url: "monalisa", title: "모나리자" },
  { url: "starry-night", title: "별이 빛나는 밤" },
];
---

<Layout title="간단 큐레이터!">
  <main>
    <div class="h-10"></div>
    <h1 class="text-2xl font-extrabold">작품 목록</h1>
    <div class="flex mt-8 flex-col gap-2 items-start">
      {
        works.map(({ url, title }) => (
          <a href={`/description/${url}`} class="hover:bg-slate-100 transition rounded-lg p-1">
            {title}
          </a>
        ))
      }
    </div>
  </main>
</Layout>
