---
return Astro.redirect("/exhibition/small");

import LayoutWithHeader from "@layouts/LayoutWithHeader.astro";
import { getCollection } from "astro:content";

const descriptions = await getCollection("description");
---

<LayoutWithHeader title="간단 큐레이터!">
  <main>
    <div class="h-6"></div>
    <div class="flex gap-2">
      <h1 class="text-2xl font-extrabold hover:cursor-pointer">간단 전시회</h1>
      <h1 class="text-2xl font-extrabold hover:cursor-pointer">그리미주아 특별 전시회</h1>
    </div>
    <div
      class="flex mt-8 flex-col gap-2 items-start"
      class:list={{ hidden: true }}
    >
      {
        descriptions.map(({ slug, data }) => (
          <a href={`/description/${slug}`} class="hover-bg p-1">
            {data.title}
          </a>
        ))
      }
    </div>
  </main>
</LayoutWithHeader>
