---
import LayoutWithHeader from "@layouts/LayoutWithHeader.astro";
import Boid from "@components/Boid.astro";
---

<LayoutWithHeader title="Muse Match">
  <main class="w-full">
    <div class="w-full flex justify-center">
      <Boid />
    </div>
  </main>
</LayoutWithHeader>
