---
import ArrowButton from "@components/ArrowButton.astro";
import Layout from "@layouts/Layout.astro";
import {Test} from "@components/Test";
---

<Layout title="test">
	<p>layout & ui testing page</p>
	<ArrowButton text="123" />
	<Test />
</Layout>
