---
import Layout from "@layouts/Layout.astro";
import { conn, testConn } from "@lib/server";

let queryRes;

try {
  queryRes = await testConn();
} catch (e) {
  queryRes = e;
}

console.log(conn);
console.log(import.meta.env.DATABASE_PASSWORD);
---

<Layout title="test">
  <p>{JSON.stringify(queryRes)}</p>
  <p>{JSON.stringify(conn)}</p>
</Layout>
