---
export interface Props {
  href?: string;
  text: string;
}

const { text, href } = Astro.props;
---

<a
  class="font-bold flex gap-2 items-center my-4 p-1 hover-bg self-start"
  href={href}
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24px"
    height="24px"
    viewBox="0 0 24 24"
    id="left-arrow"
    class="icon flat-line dark:stroke-white dark:fill-white stroke-black fill-black"
  >
    <line
      id="primary"
      x1="21"
      y1="12"
      x2="3"
      y2="12"
      style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"
    ></line>
    <polyline
      id="primary-2"
      data-name="primary"
      points="6 9 3 12 6 15"
      style="stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"
    ></polyline>
  </svg>
  <p class="hover:drop-shadow-2xl">{text}</p>
</a>
