---
import { getAuthDataBySessionId } from "@lib/server";
import { DarkModeToggle } from "./DrakModeToggle";

const { isAuthed, artist } = await getAuthDataBySessionId(
  Astro.cookies.get("session").value
);
---

<div class="w-full flex justify-end mt-2 gap-4">
  <DarkModeToggle client:load />
  {
    isAuthed && artist ? (
      <>
        <a
          href={`/art/${artist.artistId}`}
          class="font-bold text-sm hover-bg p-1"
        >
          마이 페이지
        </a>
        <a href="/auth/logout" class="font-bold text-sm hover-bg p-1">
          로그아웃
        </a>
      </>
    ) : (
      <a
        class="font-bold text-sm p-1 hover-bg"
        href="/auth"
      >
        로그인
      </a>
    )
  }
</div>
