---
const { frontmatter } = Astro.props;
import { ArrowButton } from "@components/ArrowButton";
import { Survey } from "../components/Survey";
import Layout from "./Layout.astro";
---

<Layout title={frontmatter.title}>
  <div>
    <ArrowButton text="작품 목록 보러가기" href="/" client:only="solidjs" />
  </div>
  {
    frontmatter.images &&
      frontmatter.images.map((src: string) => (
        <img src={src} class="img drop-shadow-2xl rounded-lg" />
      ))
  }
  <div class="flex flex-col gap-[2px] mx-3 my-5">
    <h1 class="text-2xl font-extrabold">{frontmatter.title}</h1>
    <h2 class="text-xl font-bold mb-5">{frontmatter.author}</h2>
    <slot />
  </div>
  <div class="h-2"></div>
  <Survey client:load />
</Layout>
