---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="kr">
  <head>
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-CGNGP7MNBW"
    ></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-CGNGP7MNBW");
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap");
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    font-family: "Nanum Myeongjo", serif;
  }

  main {
    padding: 0 20px;
    max-width: 640px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
</style>
